{% extends 'base.html' %}
{% load static %}


{% block page_title %}
    Авторизация
{% endblock %}

{% block static_css %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}

{% block content %}
    <div class="main__header">
        <h1 class="main__title">Войти на сайт</h1>
    </div>
    <div class="form-container">
        {% for error in form.errors %}
            <div class="alert alert-danger"
                 role="alert">
                {{ error|escape }}
            </div>
        {% endfor %}
        <form class="form"
              method="post"
              action="{% url 'login' %}">
            {% csrf_token %}
            {% include 'includes/form_field.html' %}
            <div class="form__footer">
                <button type="submit" class="button button_style_blue">Войти</button>
                <a class="form__forgot-link" href="{% url 'password_reset' %}">Забыли пароль? </a>
            </div>
        </form>
    </div>

{% endblock %}