<nav class="pagination" aria-label="Search results pages">
    <ul class="pagination__container">
        {% if items.has_previous %}
            <li class="pagination__item">
                <a class="pagination__link link" href="?page={{ items.previous_page_number }}&{{ currently_selected_tags_query }}"><span class="icon-left"></span></a>
            </li>
        {% endif %}
        <li class="pagination__item pagination__item_active">
            <a class="pagination__link link" href="#">{{ page_obj.number }}</a>
        </li>
        {% if items.has_next %}
            {% if page_obj.number|add:1 <= page_obj.paginator.num_pages %}
                <li class="pagination__item">
                    <a class="pagination__link link" href="?page={{ page_obj.number|add:'1' }}&{{ currently_selected_tags_query }}">{{ page_obj.number|add:'1' }}</a>
                </li>
            {% endif %}
            {% if page_obj.number|add:2 <= page_obj.paginator.num_pages %}
                <li class="pagination__item">
                    <a class="pagination__link link" href="?page={{ page_obj.number|add:'2' }}&{{ currently_selected_tags_query }}">{{ page_obj.number|add:'2' }}</a>
                </li>
            {% endif %}
            {% if page_obj.number|add:3 <= page_obj.paginator.num_pages %}
                <li class="pagination__item">
                    <a class="pagination__link link" href="?page={{ page_obj.number|add:'3' }}&{{ currently_selected_tags_query }}">{{ page_obj.number|add:'3' }}</a>
                </li>
            {% endif %}
            {% if page_obj.number|add:4 <= page_obj.paginator.num_pages %}
                <li class="pagination__item">
                    <a class="pagination__link link" href="?page={{ page_obj.number|add:'4' }}&{{ currently_selected_tags_query }}">{{ page_obj.number|add:'4' }}</a>
                </li>
            {% endif %}
            <li class="pagination__item">
                <a class="pagination__link link" href="?page={{ items.next_page_number }}&{{ currently_selected_tags_query }}"><span class="icon-right"></span></a>
            </li>
        {% endif %}
    </ul>
</nav>