{% extends 'base.html' %}
{% load static %}


{% block page_title %}
    {{ page_title }}
{% endblock %}


{% block static_css %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}
    <div class="main__header">
        <h1 class="main__title">{{ page_title }}</h1>
{#        {% if request.resolver_match.url_name == 'favorites' or request.resolver_match.url_name == 'index' or request.resolver_match.url_name == 'recipes_list_by_tag' %}#}
{#            <ul class="tags">#}
{#                {% for tag in tags %}#}
{#                    <li class="tags__item">#}
{#                        <a id="{{ tag.slug }}" class="tags__checkbox tags__checkbox_style_{{ tag.color }} tags__checkbox"></a>#}
{#                        <span class="tags__label">{{ tag.name }}</span>#}
{#                    </li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#        {% endif %}#}
    </div>

    {% if user.is_authenticated and request.resolver_match.url_name == 'profile' %}
        <div class="author-subscribe" data-author={{ author.pk }}>
            <p style="padding: 0 0 2em 0;"><button class="button button_style_light-blue button_size_subscribe" name="subscribe" data-out>Подписаться на автора</button></p>
        </div>
    {% endif %}

    <div class="card-list">
        {% if recipes %}
            {% for recipe in recipes %}
                {% include 'includes/recipe_card.html' with recipe=recipe %}
            {% endfor %}
        {% else %}
            {% for recipe in page_obj %}
                {% include 'includes/recipe_card.html' with recipe=recipe %}
            {% endfor %}
        {% endif %}
    </div>
    {% if page_obj.has_other_pages %}
        {% include 'includes/paginator.html' with items=page_obj paginator=paginator %}
    {% endif %}
{% endblock %}

{% block static_js %}
    <script src="{% static 'js/config/config.js' %}"></script>

    <script src="{% static 'js/api/Api.js' %}"></script>

    <script src="{% static 'js/components/MainCards.js' %}"></script>
    <script src="{% static 'js/components/Purchases.js' %}"></script>
    <script src="{% static 'js/components/CardList.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/components/Favorites.js' %}"></script>

    <script src="{% static 'js/templates/foodgram/indexAuth.js' %}"></script>
{% endblock %}
